@font-face {
  font-family: "Open Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/open-sans-700.woff2") format(woff2), url("../fonts/open-sans-700.woff") format(woff); }

@font-face {
  font-family: "Open Sans Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/open-sans-400.woff2") format(woff2), url("../fonts/open-sans-400.woff") format(woff); }

@font-face {
  font-family: "Beba Neue Bold";
  font-weight: 400;
  font-style: normal;
  src: local("Beba Neue Bold"), local("Beba-Neue-Bold"), url("../fonts/beba-neue-400.woff2") format(woff2), url("../fonts/beba-neue-400.woff") format(woff); }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.5;
  color: #ffff;
  background-color: black; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 33px;
  line-height: 1.3;
  letter-spacing: 3px;
  margin: 0; }

h1 a > span {
  display: none; }

img {
  max-width: 100%; }

button {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 3px;
  color: #1A1917;
  background-color: #fcb527;
  border: none;
  text-align: center; }

.container {
  padding-inline-start: 15px;
  padding-inline-end: 13px; }
  @media (min-width: 1114px) {
    .container {
      max-width: 1114px;
      margin-left: auto;
      margin-right: auto; } }

body > header {
  color: #ffff;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%; }

#lang_dropdown {
  color: #ffff;
  background-color: black;
  border: none; }

form > label {
  display: none; }

body > header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

#lang_dropdown {
  order: 2; }

.heading img {
  max-width: 32.96px; }

.navigation__menu {
  order: 1;
  padding: 0;
  margin: 0; }

.survive {
  text-align: center;
  background-image: url("../images/sm-bg-header.jpg");
  background-size: cover;
  background-position: 40% 40%;
  background-repeat: no-repeat;
  padding-block-end: 70.55px;
  padding-block-start: 228px;
  color: #ffff; }

.survive__link {
  color: #ffff; }

.survive__heading {
  padding-block-end: 7.52px; }

.survive__social-battle {
  padding-block-end: 12px;
  margin: 0; }

.survive__social-battle--link {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase; }

.survive__shopping {
  margin: 0;
  padding-block-end: 174.69px; }

.survive__shopping__card {
  padding: 6.7px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  color: #1A1917;
  background-color: #fcb527; }

.survive__shopping__card > span:nth-of-type(1) {
  border-right: 1px solid #1A1917;
  padding-inline-end: 5px; }

.survive__shopping__card > span {
  padding-inline-start: 2px; }

.menu {
  background-image: url("../images/menu-icon.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 50% 50%;
  color: transparent;
  order: 3; }
  @media (min-width: 768px) {
    .menu {
      background-image: none; } }

body > [type="checkbox"] {
  display: none; }

body > .navigation {
  padding: 1rem;
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }
  @media (min-width: 768px) {
    body > .navigation {
      padding: 0;
      background-color: transparent;
      top: 0;
      left: auto;
      right: 0;
      bottom: auto;
      width: auto;
      box-shadow: none;
      transform: none;
      transition: none; } }

body > [type="checkbox"]:checked ~ .navigation {
  transform: translateX(0); }

body > [type="checkbox"]:checked ~ label {
  z-index: 2;
  opacity: 1; }

body > label {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

.navigation__menu {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .navigation__menu {
      flex-direction: row;
      justify-content: space-between; } }

.navigation__menu__more-information {
  padding-block-end: 2rem;
  font-weight: 700; }
  @media (min-width: 768px) {
    .navigation__menu__more-information {
      padding-inline-start: 22px; } }

.navigation__menu__more-information__link {
  text-transform: uppercase;
  color: #1A1917;
  line-height: 1; }
  @media (min-width: 768px) {
    .navigation__menu__more-information__link {
      color: #ffff; } }

.call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.call-to-action__summary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px; }

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.pagination__list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.pagination__list-item__page__anchor {
  width: 10.4px;
  height: 10.4px;
  border: 0.97049px solid #ffff;
  border-radius: 50%;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0.7rem;
  padding-inline-end: 0.7rem;
  margin-inline-end: 12.43px; }

.pagination__list-item__page__anchor--first-page {
  background-color: #ffff; }

.pagination__span--ally {
  display: none; }

.socila-battle {
  background-image: url("../images/bg-social-battle.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: 57.67px; }

.socila-battle__header {
  display: flex;
  flex-direction: column-reverse;
  text-transform: uppercase; }

.socila-battle__header__sos {
  margin: 0;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 2px;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif; }

.socila-battle__information__description {
  padding-block-end: 1.2rem;
  margin: 0; }

.content {
  padding: 2rem 38px; }

.socila-battle__temple {
  position: relative;
  padding: 0;
  margin: 0;
  padding-block-end: calc(100% * 273 / 249); }

.socila-battle__temple__list-item {
  position: absolute; }

.socila-battle__temple--list-item1 {
  left: 0;
  right: calc(100% * 24 / 249);
  top: 0;
  z-index: 3; }

.socila-battle__temple--list-item2 {
  z-index: 2;
  top: 50%;
  left: calc(100% * 12 / 249);
  right: calc(100% * 12 / 249);
  padding-block-start: calc(100% * 12 / 249);
  transform-origin: 100% 0%;
  transform: scale(calc((273 - 24) / 273)) translateY(-50%); }

.socila-battle__temple--list-item3 {
  z-index: 1;
  top: 50%;
  left: calc(100% * 24 / 249);
  right: 0;
  transform-origin: 100% 0%;
  transform: scale(calc((273 - 48) / 273)) translateY(-50%); }

.socila-battle__temple__list-item__images {
  width: 100%; }

.feature {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, black 30%, #060606 50%, #000009 100%), url("../images/sm-feature.png");
  background-position: 0% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat; }

.feature > * {
  margin-inline-start: 30%; }

.feature__header {
  display: flex;
  flex-direction: column-reverse;
  padding-block-start: 2rem;
  margin-inline-start: 40px; }
  .feature__header > p {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin: 0; }

.feature__information__list-item__details summary {
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.2;
  color: #FFB548; }

.feature__information {
  margin: 0; }

.feature__information__list-item {
  padding-block-end: 1rem; }

.requirements {
  background-image: linear-gradient(180deg, black 0%, #050404 30%, #060606 50%, #060606 65%, rgba(0, 0, 0, 0) 100%), url("../images/requirements.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 100%; }

.requirements__header {
  display: flex;
  flex-direction: column-reverse;
  text-align: center; }
  .requirements__header > p {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif; }

.requirements__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin: 0;
  padding-block-start: 3rem;
  padding-block-end: 12rem; }

.requirements__list__information {
  border: 0.50px solid #979797;
  max-width: 49%;
  padding-block-end: 1rem; }
  .requirements__list__information > * {
    padding-inline-start: 10px;
    padding-inline-end: 10px; }
  .requirements__list__information > summary {
    margin: 0;
    color: #FFB548;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 2px; }
  .requirements__list__information > p {
    font-size: 14px;
    margin: 0; }

.requirements__list__information--os {
  flex-basis: 50%; }

.requirements__list__information--processor {
  flex-basis: 50%; }

.requirements__list__information--memory {
  flex-basis: 50%; }

.requirements__list__information--storage {
  flex-basis: 50%; }

.requirements__list__information--graphics {
  flex-basis: 100%;
  max-width: 100%; }

.quotes {
  background-color: black;
  padding-block-start: 36px;
  padding-block-end: 33px; }

.quotes__header {
  display: flex;
  flex-direction: column-reverse; }
  .quotes__header > * {
    margin: 0; }
  .quotes__header > p {
    font-size: 18px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 2px; }

.quotes__description {
  padding-block-start: 22px; }
  .quotes__description > p {
    margin: 0;
    font-size: 14px;
    padding-block-end: 24px; }
  .quotes__description > a {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-block-start: 11px;
    padding-block-end: 11px;
    font-weight: bold;
    border-radius: 3px;
    color: #1A1917;
    background-color: #fcb527;
    border: none;
    text-align: center; }

.quotes__press-blockquotes {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  margin-block-start: 30px;
  margin-block-end: 20.39px;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 1.5rem;
  border-radius: 10px; }
  .quotes__press-blockquotes > q {
    font-size: 14px;
    padding-block-end: 17px; }
  .quotes__press-blockquotes > time {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px; }

.quotes__press-blockquotes__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 17px; }
  .quotes__press-blockquotes__footer > p {
    border-radius: 50%;
    background-color: #FFB548;
    padding-inline-end: 4px; }
  .quotes__press-blockquotes__footer > p img {
    border-radius: 50%;
    max-width: 43px; }
  .quotes__press-blockquotes__footer > cite {
    margin-inline-start: 63px;
    display: flex;
    flex-direction: column;
    font-style: normal; }
    .quotes__press-blockquotes__footer > cite > span {
      text-transform: uppercase;
      font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
      font-size: 21px;
      color: #FFB548; }
    .quotes__press-blockquotes__footer > cite > small {
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px; }
  .quotes__press-blockquotes__footer > a > span {
    display: none; }
  .quotes__press-blockquotes__footer > p {
    position: absolute; }
