@font-face {
  font-family: "Open Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/open-sans-700.woff2") format(woff2), url("../fonts/open-sans-700.woff") format(woff); }

@font-face {
  font-family: "Open Sans Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/open-sans-400.woff2") format(woff2), url("../fonts/open-sans-400.woff") format(woff); }

@font-face {
  font-family: "Beba Neue Bold";
  font-weight: 400;
  font-style: normal;
  src: local("Beba Neue Bold"), local("Beba-Neue-Bold"), url("../fonts/beba-neue-400.woff2") format(woff2), url("../fonts/beba-neue-400.woff") format(woff); }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.5;
  color: #ffff;
  background-color: black; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 33px;
  line-height: 1.3;
  letter-spacing: 3px;
  margin: 0; }
  @media (min-width: 1114px) {
    h1,
    h2,
    h3,
    h4 {
      font-size: 80px; } }

h1 a > span {
  display: none; }

img {
  max-width: 100%; }

button {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 3px;
  color: #1A1917;
  background-color: #fcb527;
  border: none;
  text-align: center; }

.container {
  padding-inline-start: 15px;
  padding-inline-end: 13px; }
  @media (min-width: 1114px) {
    .container {
      max-width: 1114px;
      margin-left: auto;
      margin-right: auto; } }

body > header {
  color: #ffff;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  padding-block-start: 1rem; }

#lang_dropdown {
  color: #ffff;
  background-color: black;
  border: none; }

form > label {
  display: none; }

body > header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  body > header > div > form {
    order: 2; }
  @media (min-width: 1114px) {
    body > header > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      body > header > div form {
        margin-inline-start: auto;
        order: 3;
        padding-inline-end: 1rem;
        border-inline-end: 0.87px solid gray; } }

.heading img {
  max-width: 32.96px; }
  @media (min-width: 1114px) {
    .heading img {
      max-width: 50px; } }

.navigation__menu {
  order: 1;
  padding: 0;
  margin: 0; }

.game-brand {
  display: none;
  padding: 0; }
  @media (min-width: 1114px) {
    .game-brand {
      display: block;
      padding-inline-start: 1rem;
      margin-inline-end: -5rem;
      order: 4; }
      .game-brand a {
        padding-inline-end: 1rem; }
      .game-brand span {
        display: none; } }

.survive {
  text-align: center;
  background-image: url("../images/sm-bg-header.jpg");
  background-size: cover;
  background-position: 40% 40%;
  background-repeat: no-repeat;
  padding-block-end: 70.55px;
  padding-block-start: 228px;
  color: #ffff; }
  @media (min-width: 1114px) {
    .survive {
      background-image: url("../images/bg-header.jpg"); } }

.survive__link {
  color: #ffff; }

.survive__heading {
  padding-block-end: 7.52px; }

.survive__social-battle {
  padding-block-end: 12px;
  margin: 0; }

.survive__social-battle--link {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase; }

.survive__shopping {
  margin: 0;
  padding-block-end: 174.69px; }

.survive__shopping__card {
  padding: 6.7px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  color: #1A1917;
  background-color: #fcb527; }

.survive__shopping__card > span:nth-of-type(1) {
  border-right: 1px solid #1A1917;
  padding-inline-end: 5px; }

.survive__shopping__card > span {
  padding-inline-start: 2px; }

.menu {
  background-image: url("../images/menu-icon.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 50% 50%;
  color: transparent;
  order: 3; }
  @media (min-width: 1114px) {
    .menu {
      background-image: none; } }

body > [type="checkbox"] {
  display: none; }

body > .navigation {
  padding: 1rem;
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }
  @media (min-width: 1114px) {
    body > .navigation {
      background-color: transparent;
      top: 3rem;
      left: 25%;
      right: 30%;
      bottom: auto;
      width: auto;
      box-shadow: none;
      transform: none;
      transition: none; } }

body > [type="checkbox"]:checked ~ .navigation {
  transform: translateX(0); }

body > [type="checkbox"]:checked ~ label {
  z-index: 2;
  opacity: 1; }

body > label {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

.navigation__menu {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1114px) {
    .navigation__menu {
      flex-direction: row;
      justify-content: space-between; } }

.navigation__menu__more-information {
  padding-block-end: 2rem;
  font-weight: 700; }
  @media (min-width: 1114px) {
    .navigation__menu__more-information {
      padding-inline-end: 0; } }

.navigation__menu__more-information__link {
  text-transform: uppercase;
  color: #1A1917;
  line-height: 1; }
  @media (min-width: 1114px) {
    .navigation__menu__more-information__link {
      color: #ffff; } }

.call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 1114px) {
    .call-to-action {
      display: block;
      align-items: center; } }

.call-to-action__summary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  width: 100%; }

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (min-width: 1114px) {
    .pagination {
      display: none; } }

.pagination__list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.pagination__list-item__page__anchor {
  width: 10.4px;
  height: 10.4px;
  border: 0.97049px solid #ffff;
  border-radius: 50%;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0.7rem;
  padding-inline-end: 0.7rem;
  margin-inline-end: 12.43px; }

.pagination__list-item__page__anchor--first-page {
  background-color: #ffff; }

.pagination__span--ally {
  display: none; }

.socila-battle {
  background-image: url("../images/bg-social-battle.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: 57.67px; }

.socila-battle__header {
  display: flex;
  flex-direction: column-reverse;
  text-transform: uppercase;
  border-block-end: 1.76px solid white;
  padding-block-end: 2rem; }

.socila-battle__header__sos {
  margin: 0;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 2px;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif; }

.socila-battle__information {
  padding-block-start: 26px; }

.socila-battle__information__description {
  padding-block-end: 1.2rem;
  margin: 0; }

.content {
  padding: 2rem 38px; }

.socila-battle__temple {
  position: relative;
  padding: 0;
  margin: 0;
  padding-block-end: calc(100% * 273 / 249); }

.socila-battle__temple__list-item {
  position: absolute; }

.socila-battle__temple--list-item1 {
  left: 0;
  right: calc(100% * 24 / 249);
  top: 0;
  z-index: 3; }

.socila-battle__temple--list-item2 {
  z-index: 2;
  top: 50%;
  left: calc(100% * 12 / 249);
  right: calc(100% * 12 / 249);
  padding-block-start: calc(100% * 12 / 249);
  transform-origin: 100% 0%;
  transform: scale(calc((273 - 24) / 273)) translateY(-50%); }

.socila-battle__temple--list-item3 {
  z-index: 1;
  top: 50%;
  left: calc(100% * 24 / 249);
  right: 0;
  transform-origin: 100% 0%;
  transform: scale(calc((273 - 48) / 273)) translateY(-50%); }

.socila-battle__temple__list-item__images {
  width: 100%;
  border-radius: 10px; }

.feature {
  background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("../images/sm-feature.png");
  background-position: 0% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat; }
  @media (min-width: 1114px) {
    .feature {
      background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(0, 0, 0, 0.521) 47.48%, rgba(0, 0, 0, 0.521) 93.5%, #000 100%), url("../images/feature.png");
      background-size: 80% 100%;
      padding-block-start: 14rem;
      padding-block-end: 17rem; } }

.feature > * {
  margin-inline-start: 115px; }
  @media (min-width: 1114px) {
    .feature > * {
      margin-inline-start: 750px; } }

.feature__header {
  display: flex;
  flex-direction: column-reverse;
  padding-block-start: 2rem; }
  .feature__header > p {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin: 0; }

.feature__information {
  position: relative; }

.feature__information {
  position: relative; }

.feature__information__details {
  position: relative;
  height: 100%;
  padding-block-end: 1rem; }
  .feature__information__details > summary {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.2;
    color: #FFB548;
    position: relative; }
  .feature__information__details > summary::-webkit-details-marker {
    display: none; }
  .feature__information__details > summary::before {
    content: "";
    position: absolute;
    padding: .3rem;
    border: 1px solid white;
    border-radius: 50%;
    top: .5rem;
    left: -2rem;
    z-index: 2; }
  .feature__information__details > p {
    margin: 0; }

.feature__information__details::before {
  content: "";
  position: absolute;
  border: 1px solid white;
  height: 100%;
  top: .5rem;
  left: -1.7rem;
  z-index: 1; }

.feature__information__details:last-of-type::before {
  bottom: auto;
  height: 0; }

.feature__information__details[open] summary::before {
  background-color: white; }

.feature__information {
  margin: 0; }

.requirements {
  background-image: linear-gradient(180deg, black 0%, #050404 30%, #060606 50%, #060606 65%, rgba(0, 0, 0, 0) 100%), url("../images/requirements.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 100%; }

.requirements__header {
  display: flex;
  flex-direction: column-reverse;
  text-align: center; }
  .requirements__header > p {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif; }

.requirements__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-inline-start: 0; }

.requirements__list__information {
  border: 0.84px solid gray;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  padding-block-start: 9.64px;
  padding-block-end: 9.64px; }
  .requirements__list__information > span {
    margin: 0;
    color: #FFB548;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 2px; }
  .requirements__list__information > p {
    font-size: 14px;
    margin: 0; }

.requirements__list__information--graphics {
  grid-row: 3 / 4;
  grid-column: 1 / 3; }

.quotes {
  background-color: black;
  padding-block-start: 36px;
  padding-block-end: 33px; }

.quotes__header {
  display: flex;
  flex-direction: column-reverse; }
  .quotes__header > * {
    margin: 0; }
  .quotes__header > p {
    font-size: 18px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    letter-spacing: 2px; }

.quotes__description {
  padding-block-start: 22px; }
  .quotes__description > p {
    margin: 0;
    font-size: 14px;
    padding-block-end: 24px; }
  .quotes__description > a {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    padding-block-start: 11px;
    padding-block-end: 11px;
    font-weight: bold;
    border-radius: 3px;
    color: #1A1917;
    background-color: #fcb527;
    border: none;
    text-align: center; }

.quotes__press-blockquotes {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  margin-block-start: 30px;
  margin-block-end: 20.39px;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 1.5rem;
  border-radius: 10px; }
  .quotes__press-blockquotes > q {
    font-size: 14px;
    padding-block-end: 17px; }
  .quotes__press-blockquotes > time {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px; }

.quotes__press-blockquotes__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 17px; }
  .quotes__press-blockquotes__footer > p {
    border-radius: 50%;
    background-color: #FFB548;
    padding-inline-end: 4px; }
  .quotes__press-blockquotes__footer > p img {
    border-radius: 50%;
    max-width: 43px; }
  .quotes__press-blockquotes__footer > cite {
    margin-inline-start: 63px;
    display: flex;
    flex-direction: column;
    font-style: normal; }
    .quotes__press-blockquotes__footer > cite > span {
      text-transform: uppercase;
      font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
      font-size: 21px;
      color: #FFB548; }
    .quotes__press-blockquotes__footer > cite > small {
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px; }
  .quotes__press-blockquotes__footer > a > span {
    display: none; }
  .quotes__press-blockquotes__footer > p {
    position: absolute; }

.subscription {
  background-image: linear-gradient(90deg, #070202 0%, rgba(255, 255, 255, 0) 10%, #060606 50%, #000009 100%), url("../images/sm-newsletter.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 0% 50%;
  padding-block-end: 61px; }

.subscription__header {
  display: flex;
  flex-direction: column-reverse;
  margin-inline-start: 115px;
  padding-block-end: 10px; }

.subscription__guidance {
  margin: 0;
  margin-inline-start: 115px;
  padding-block-end: 50px; }

.subscription__form {
  display: flex;
  flex-direction: column; }
  .subscription__form > * {
    padding-block-start: 14px;
    padding-block-end: 14px;
    padding-inline-start: 4px;
    padding-inline-end: 3px; }
  .subscription__form > input {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-block-end: 15px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8); }

.footer {
  padding-block-start: 29px;
  padding-inline-start: 10px;
  font-size: 12px; }

.footer ul {
  margin: 0;
  text-transform: uppercase;
  padding: 0; }

.footer a {
  color: #ffff;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px; }

.footer p {
  margin: 0; }

.footer__pagination__logo {
  text-align: center;
  padding-block-end: 42px; }
  .footer__pagination__logo > a > span {
    display: none; }

.footer__pagination__more-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
  .footer__pagination__more-info > li {
    padding-block-end: 21px; }
    @media (min-width: 1114px) {
      .footer__pagination__more-info > li {
        padding-block-end: 0; } }
  @media (min-width: 1114px) {
    .footer__pagination__more-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }

.footer__pagination__more-info--main {
  flex-basis: 30%; }

.footer__pagination__more-info--about {
  flex-basis: 30%; }

.footer__pagination__more-info--game-feature {
  flex-basis: 40%; }

.footer__pagination__more-info--system-requirements {
  flex-basis: 75%; }

.footer__pagination__more-info--quotes {
  flex-basis: 25%; }

ul.footer__pagination__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: 44px;
  padding-block-end: 41px; }

.footer__pagination__social__media > a {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 16px;
  text-indent: -999px;
  overflow: hidden; }
  @media (min-width: 1114px) {
    .footer__pagination__social__media > a {
      background-position: 100% 50%; } }

.footer__pagination__information {
  border-block-end: 0.8px solid #ffff; }
  @media (min-width: 1114px) {
    .footer__pagination__information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }

.footer__pagination__social__media--facebook {
  background-image: url("../images/icon-facebook.svg"); }

.footer__pagination__social__media--twitter {
  background-image: url("../images/icon-twitter.svg"); }

.footer__pagination__social__media--twitch {
  background-image: url("../images/icon-twitch.svg"); }

.footer__pagination__social__media--youtube {
  background-image: url("../images/icon-youtube.svg"); }

.footer__pagination__copywrite {
  color: rgba(255, 255, 255, 0.5);
  padding-block-start: 19px;
  padding-block-end: 19px; }
  .footer__pagination__copywrite > small {
    font-size: 12px; }

.footer__pagination__policy {
  text-align: center; }
  .footer__pagination__policy > li {
    padding-block-end: 20px; }
    @media (min-width: 1114px) {
      .footer__pagination__policy > li {
        padding-block-end: 0;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem; } }
  @media (min-width: 1114px) {
    .footer__pagination__policy {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }

@media (min-width: 1114px) {
  .footer__pagination__more-info__list {
    flex-basis: auto;
    padding-inline-start: 16px; }
  .footer__pagination__privacy-policy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .footer__pagination__policy--services {
    border-inline-start: 1px solid white;
    border-inline-end: 1px solid white; }
  li.footer__pagination__policy--conduct {
    padding-inline-end: 0; } }
