@font-face {
  font-family: "Open Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/open-sans-700.woff2") format(woff2), url("../fonts/open-sans-700.woff") format(woff); }

@font-face {
  font-family: "Open Sans Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/open-sans-400.woff2") format(woff2), url("../fonts/open-sans-400.woff") format(woff); }

@font-face {
  font-family: "Beba Neue Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Beba Neue Bold"), local("Beba-Neue-Bold"), url("../fonts/beba-neue-700.woff2") format(woff2), url("../fonts/beba-neue-700.woff") format(woff); }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1 a > span {
  display: none; }

img {
  max-width: 100%; }

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-image: url("../images/bg-header.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-block-end: 20rem; }
  body > header > * {
    padding-block-start: 2rem;
    margin: 0; }

.heading {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.navigation__menu {
  order: 1;
  padding: 0;
  margin: 0; }

body {
  background-color: red; }
