@import "variables";

.requirements {
    background-image: url("#{$path-to-image}requirements.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.requirements__header {
    @include header-layouts();
    text-align: center;

    > p {
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 2px;
        font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    }
}

.requirements__list {
    @include flex-layouts();
    flex-wrap: wrap;
}

// .requirements__list__information {
//     border: 0.50px solid #979797;
// }

.requirements__list__information--os {
    flex-basis: 50%;
}
.requirements__list__information--processor {
    flex-basis: 50%;
}
.requirements__list__information--memory {
    flex-basis: 50%;
}
.requirements__list__information--storage {
    flex-basis: 50%;
}
.requirements__list__information--graphics {
    flex-basis: 100%;
}