@import "variables";

.subscription {
    background-image: linear-gradient(90deg, rgba(7, 2, 2, 1) 0%, rgba(255, 255, 255, 0) 10% , rgba(6, 6, 6, 1) 50%, rgba(0, 0, 9, 1) 100%),
                      url("#{$path-to-image}sm-newsletter.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0% 50%;
    padding-block-end: 61px;

    @media (min-width: $breakpoint-desktop) {
        background-image: radial-gradient(90% 95% at 30% 90%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), 
                          url("#{$path-to-image}newsletter.png");
        background-size: auto 100%;
        background-position: 0% 60%;

        padding-inline-start: 489px;

        > .container {
            max-width: 677px;
        }
    }
}

.subscription__header {
    @include header-layouts();
    margin-inline-start: $right-fringe;
    padding-block-end: 10px;

    @media (min-width: $breakpoint-desktop) {
        margin-inline-start: 0;
    }
}
.subscription__guidance {
    margin: 0;
    margin-inline-start: $right-fringe;
    padding-block-end: 50px;

    @media (min-width: $breakpoint-desktop) {
        margin-inline-start: 0;
    }
}

.subscription__form {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-desktop) {
        padding: 0;
        @include flex-layouts();
    }


    > fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        position: relative;

        > label {
            position: absolute;
            top: 2px;
            left: 21px;
            color: $tertiary-color;
        }

        > input {
            width: 100%;
            box-sizing: border-box;
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-size: 12px;
            margin-block-end: 15px;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.08);
            color: $text-color;
            padding-block-start: 30px;
            padding-block-end: 14px;
            padding-inline-start: 21px;
            padding-inline-end: 3px;
    
            @media (min-width: $breakpoint-desktop) {
                width:  400px;
                font-size: 14px;
                margin-block-end: 0;
            }
        }
        >input::placeholder {
            color: $detail-summary;
        }
    }

    > fieldset:focus-within label {
        color: #fff;
    }

    > button {
        padding-inline-start: 4px;
        padding-inline-end: 3px;
        padding-block-start: 22px;
        padding-block-end: 22px;

        @media (min-width: $breakpoint-desktop) {
            padding-inline-start: 71px;
            padding-inline-end: 70px;
        }
    }


}