@import "variables";

.requirements {
    background-image: url("#{$path-to-image}requirements.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 100%;
}

.requirements__header {
    @include header-layouts();
    text-align: center;
    padding-block-end: 30px;

    @media (min-width: $breakpoint-desktop) {
        padding-block-end: 133px;
    }


    > p {
        margin: 0;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 2px;
        font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
        padding-block-start: 68px;
        padding-block-end: 12px;
    }
}

.requirements__list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline-start: 0;
    padding-block-end: 234px;

    
    @media (min-width: $breakpoint-desktop) {
        max-width: 573px;
        padding-block-start: 0;
    }
}

.requirements__list__information {
    border: 0.84px solid gray;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    padding-block-start: 9.64px;
    padding-block-end: 9.64px;

    @media (min-width: $breakpoint-desktop) {
        height: 100px;
    }

    > span {
        margin: 0;
        color: $detail-summary;
        font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
        font-size: 18px;
        letter-spacing: 2px;

        @media (min-width: $breakpoint-desktop) {
            font-size: 24px;
        }
    }
    
    > p {
        font-size: 14px;
        margin: 0;

        @media (min-width: $breakpoint-desktop) {
            font-size: 18px;
        }
    }
}

.requirements__list__information--graphics {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}