@import "variables";

.requirements {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(5, 4, 4) 30%, rgba(6, 6, 6, 1) 50%, rgba(6, 6, 6, 1) 65%, rgba(0, 0, 0, 0) 100%),
                      url("#{$path-to-image}requirements.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 100%;
    // padding-block-end: 10rem;
}

.requirements__header {
    @include header-layouts();
    text-align: center;

    > p {
        margin: 0;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 2px;
        font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
        padding-block-start: 68px;
        padding-block-end: 12px;
    }
}

.requirements__list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline-start: 0;
    padding-block-start: 30px;
    padding-block-end: 234px;
}

.requirements__list__information {
    border: 0.84px solid gray;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    padding-block-start: 9.64px;
    padding-block-end: 9.64px;

    > span {
        margin: 0;
        color: $detail-summary;
        font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
        font-size: 18px;
        letter-spacing: 2px;
    }
    
    > p {
        font-size: 14px;
        margin: 0;
    }
}

.requirements__list__information--graphics {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}