@import "variables";

.feature {
    background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, 
                        rgba(255, 255, 255, 0) 0%, 
                        rgba(0, 0, 0, 0) 19.2%, 
                        rgba(4, 5, 6, 0.520671) 47.48%, 
                        #080A0B 99.74%),
                     url("#{$path-to-image}sm-feature.png");
    background-position: 0% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;


    
    @media (min-width: $breakpoint-desktop) {
        background-image: radial-gradient(51.1% 80.48% at 30.85% 53.65%, 
                            rgba(255, 255, 255, 0) 0%, 
                            rgba(0, 0, 0, 0) 19.2%, 
                            rgba(0, 0, 0, 0.521) 47.48%, 
                            rgba(0, 0, 0, 0.521) 93.50%, 
                            #000 100%),
                         url("#{$path-to-image}feature.png");
        background-size: auto 100%;
        padding-block-start: 14rem;
        padding-block-end: 17rem;
    }
}

.feature > * {
    margin-inline-start: $right-fringe;

    @media (min-width: $breakpoint-desktop) {
        margin-inline-start: 750px;
    }
}

.feature__header {
    @include header-layouts();
    padding-block-start: 2rem;

    > p {
        font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        margin: 0;
    }
}

.feature__information {
    position: relative;
}

.feature__information {
    position: relative;
}





.feature__information__details {
    position: relative;
    height: 100%;
    padding-block-end: 1rem;
    > summary {
        font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 21px;
        line-height: 1.2;
        color: $detail-summary;
        position: relative;

        @media (min-width: $breakpoint-desktop) {
            font-size: 36px;
        }
    }

    > summary::-webkit-details-marker{
        display: none;
    }

    > summary::before {
        content: "";
        position: absolute;
        padding: .3rem;
        border: 1px solid white;
        border-radius: 50%;
        top: .5rem;
        left: -2rem;
        z-index: 2;
    }

    > p {
        margin: 0;
        max-width: 350px;

        @media (min-width: $breakpoint-desktop) {
            font-size: 18px;
        }
    }
}
.feature__information__details::before {
    content: "";
    position: absolute;
    border: 1px solid white;
    height: 100%;
    top: .5rem;
    left: -1.7rem;
    z-index: 1;
}

.feature__information__details:last-of-type::before {
    bottom: auto;
    height: 0;
}

.feature__information__details[open] summary::before {
    background-color: white;
}

.feature__information {
    margin: 0;
}

