@import "variables";

.socila-battle {
    background-image: url("#{$path-to-image}bg-social-battle.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-block-start: 57.67px;

    @media (min-width: $breakpoint-desktop) {
        > .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.socila-battle__header {
    @include header-layouts();
    text-transform: $transfomation;
    border-block-end: 1.76px solid white;
    padding-block-end: 2rem;

    // @media (min-width: $breakpoint-desktop) {
    //     max-width: 400px;
    // }
}

.socila-battle__header__sos {
    margin: 0;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

.socila-battle__information {
    padding-block-start: 26px;

    @media (min-width: $breakpoint-desktop) {
        max-width: 400px;
        padding-inline-start: 205px;
    }
}

.socila-battle__information__description {
    padding-block-end: $padding-block;
    margin: 0;
}

.content {
    padding: 2rem 38px;
}

.socila-battle__temple {
    position: relative;
    padding: 0;
    margin: 0;
    padding-block-end: calc(100% * #{$height-of-image-slider} / #{$width-of-image-slider});

    @media (min-width: $breakpoint-desktop) {
        padding-inline-end: 520px;
    }
}

.socila-battle__temple__list-item {
    position: absolute;
}

.socila-battle__temple--list-item1 {
    left: 0;
	right: calc(100% * 24 / #{$width-of-image-slider});
	top: 0;
    z-index: 3;
}

.socila-battle__temple--list-item2 {
    z-index: 2;
    top: 50%;
    left: calc(100% * 12 / #{$width-of-image-slider});
    right: calc(100% * 12 / #{$width-of-image-slider});
    padding-block-start: calc(100% * 12 / #{$width-of-image-slider});
    transform-origin: 100% 0%;
    transform: scale(calc((273 - 24) / 273)) translateY(-50%);
}

.socila-battle__temple--list-item3 {
    z-index: 1;
    top: 50%;
    left: calc(100% * 24 / #{$width-of-image-slider});
    right: 0;
    transform-origin: 100% 0%;
    transform: scale(calc((273 - 48) / 273)) translateY(-50%);
}
.socila-battle__temple__list-item__images {
    width: 100%;
    border-radius: 10px;
}
