@import "variables";

.subscription {
    background-image: linear-gradient(90deg, rgba(7, 2, 2, 1) 0%, rgba(255, 255, 255, 0) 10% , rgba(6, 6, 6, 1) 50%, rgba(0, 0, 9, 1) 100%),
                      url("#{$path-to-image}sm-newsletter.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0% 50%;
}

.subscription__header {
    @include header-layouts();
    margin-inline-start: $right-fringe;
}
.subscription__guidance {
    margin-inline-start: $right-fringe;
}

.subscription__form {
    display: flex;
    flex-direction: column;

    > * {
        padding-block-start: 14px;
        padding-block-end: 14px;
        padding-inline-start: 4px;
        padding-inline-end: 3px;
        // height: 44px;
    }

    > input {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 12px;
        margin-block-end: 10px;
    }
}