@import "./variables";


body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.5;
    color: $text-color;
    background-color: black;
}

ul {
    list-style: $styling-decoration;
}

a {
    text-decoration: $styling-decoration;
}

h1,
h2,
h3, 
h4 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 33px;
    line-height: 1.3;
    letter-spacing: 3px;
    margin: 0;


    @media (min-width: $breakpoint-desktop) {
        font-size: 80px;
    }
}

h1 a > span {
    display: $styling-decoration;
}

img {
    max-width: 100%;
}

button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 3px;
    color: $button-text-color;
    background-color: $button-color;
    border: none;
    text-align: center;
}