@import "./variables";


body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.5;
    color: $text-color;
}

ul {
    list-style: $styling-decoration;
}

a {
    text-decoration: $styling-decoration;
}

h1,
h2,
h3, 
h4 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1 a > span {
    display: $styling-decoration;
}

img {
    max-width: 100%;
}