@import "variables";

.footer {
    padding-block-start: 29px; 
    padding-inline-start: 10px;
    font-size: 12px;
}

.footer ul {
    margin: 0;
    text-transform: $transfomation;
    padding: 0  ;
}

.footer a {
    color: $text-color;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 2px;
}

.footer p {
    margin: 0;
}

.footer__pagination__logo {
    text-align: center;
    padding-block-end: 42px;

    > a > span {
        display: none;
    }
}

.footer__pagination__more-info {
    @include flex-layouts();

    flex-wrap: wrap;
    > li {
        padding-block-end: 21px;

        
        @media (min-width: $breakpoint-desktop) {
            padding-block-end: 0;
        }
    }

    @media (min-width: $breakpoint-desktop) {
        @include flex-layouts();
    }
}

.footer__pagination__more-info--main {
    flex-basis: 30%;
}

.footer__pagination__more-info--about {
    flex-basis: 30%;
}

.footer__pagination__more-info--game-feature {
    flex-basis: 40%;
}

.footer__pagination__more-info--system-requirements {
    flex-basis: 75%;
}

.footer__pagination__more-info--quotes {
    flex-basis: 25%;
}


ul.footer__pagination__social {
    @include flex-layouts();
    padding-block-start: 44px;
    padding-block-end: 41px;
}

.footer__pagination__social__media {

    > a {
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 16px;
        text-indent: -999px;
        overflow: hidden;

        @media (min-width: $breakpoint-desktop) {
            background-position: 100% 50%;
        }
    }
}

.footer__pagination__information {
    border-block-end: .8px solid $text-color;

    @media (min-width: $breakpoint-desktop) {
        @include flex-layouts();
        align-items: center;
    }
}

.footer__pagination__social__media--facebook {
    background-image: url("#{$path-to-image}icon-facebook.svg");
}

.footer__pagination__social__media--twitter {
    background-image: url("#{$path-to-image}icon-twitter.svg");
}

.footer__pagination__social__media--twitch {
    background-image: url("#{$path-to-image}icon-twitch.svg");
}


.footer__pagination__social__media--youtube {
    background-image: url("#{$path-to-image}icon-youtube.svg");

}



.footer__pagination__copywrite {
    color: $tertiary-color;
    padding-block-start: 19px;
    padding-block-end: 19px;

    > small {
        font-size: 12px;
    }
}

.footer__pagination__policy {
    text-align: center;

    > li {
        padding-block-end: 20px;

        @media (min-width: $breakpoint-desktop) {
            padding-block-end: 0;
            padding-inline-start: 1rem;
            padding-inline-end: 1rem;
        }
    }

    @media (min-width: $breakpoint-desktop) {
        @include flex-layouts();
    }
}

@media (min-width: $breakpoint-desktop) {
    .footer__pagination__more-info__list {
        flex-basis: auto;
        padding-inline-start: 16px;
    }

    .footer__pagination__privacy-policy {
        @include flex-layouts();
        align-items: center;
    }

    .footer__pagination__policy--services {
        border-inline-start: 1px solid white;
        border-inline-end: 1px solid white;
    }
    li.footer__pagination__policy--conduct {
        padding-inline-end: 0;
    }
}
