@import "./variables";

body > header { 
    color: $text-color;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    padding-block-start: 1rem;
}

#lang_dropdown {
    color: $text-color;
    background-color: black;
    border: $styling-decoration;

}

form > label {
    display: none;
}

body > header > div {
    @include flex-layouts();
    align-items: center;

    > form {
        order: 2;
    }

    @media (min-width: $breakpoint-desktop) {
        @include flex-layouts();


        form {
            margin-inline-start: auto;
            order: 3;
            padding-inline-end: 1rem;
            border-inline-end: 0.87px solid gray;
        }
    }

}


.heading img {
    max-width: 32.96px;

    @media (min-width: $breakpoint-desktop) {
        max-width: 50px;
    }
}

// .navigation {
//     @include flex-layouts();

// }

.navigation__menu {
    order: 1;
    padding: 0;
    margin: 0;
}


.game-brand {
    display: none;
    padding: 0;

    @media (min-width: $breakpoint-desktop) {
        display: block;
        padding-inline-start: 1rem;
        margin-inline-end: -5rem;
        order: 4;

        a {
            padding-inline-end: 1rem;
        }

        span {
            display: none;
        }
    }
}