@import "./variables";

body > header { 
    color: $text-color;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

#lang_dropdown {
    color: $text-color;
    background-color: black;
    border: $styling-decoration;
}

form > label {
    display: none;
}

body > header > div {
    @include flex-layouts();
    align-items: center;

    > form {
        order: 2;
    }

    @media (min-width: 1114px) {
        @include flex-layouts();


        form {
            order: 3;
        }
    }

}


.heading img {
    max-width: 32.96px;
}

// .navigation {
//     @include flex-layouts();

// }

.navigation__menu {
    order: 1;
    padding: 0;
    margin: 0;
}

