@import "variables";

.survive {
    text-align: center;
    background-image: url("#{$path-to-image}sm-bg-header.jpg");
    background-size: cover;
    background-position: 40% 40%;
    background-repeat: no-repeat;
    padding-block-end: 70.55px;
    padding-block-start: 228px;
    color: $text-color;
}

// .survive .container > * {
//     width: 300px;
// }

.survive__link {
    color: $text-color;
}

.survive__heading {
    padding-block-end: 7.52px;
    font-size: 33px;
    margin: 0;
}

.survive__social-battle {
    padding-block-end: $unity;
    margin: 0;
    
}

.survive__social-battle--link {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;
    text-transform: $transfomation;
}

.survive__shopping {
    margin: 0;
    padding-block-end: 174.69px;
}

.survive__shopping__card {
    padding: 6.7px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    color: $button-text-color;
    background-color: $button-color;
}

.survive__shopping__card > span:nth-of-type(1) {
    border-right: 1px solid $button-text-color;
    padding-inline-end: 5px;
}

.survive__shopping__card > span {
    padding-inline-start: 2px;
}

