@import "variables";

// .icon_menu {
//     background-image: url("#{$path-to-image}menu-icon.png");
//     background-repeat: no-repeat;
//     background-position: 50% 50%;
    
// }

.navigation {
    padding: 1rem;
    background-color: #f8f8f8;
    position: absolute;
    z-index: 3;
    top: 3rem;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 200px;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    transform: translateX(-110%);
    transition: transform 0.3s;
  }
  
  body > [type="checkbox"]:checked ~ .navigation {
    transform: translateX(0);
  }
  
  body > [type="checkbox"]:checked ~ header .icon_menu {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background: rgba(0,0,0,.25);
  }

  body > [type="checkbox"]:checked ~ main {
    z-index: 2;
  }