@import "variables";

.menu {
    background-image: url("#{$path-to-image}menu-icon.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 50% 50%;
    color: transparent;
    order: 3;

    @media (min-width: 1114px) {
      background-image: none;
    }
}

body > [type="checkbox"] {
  display: none;
}

body > .navigation {
  padding: 1rem;
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  box-shadow: 0 0 50px rgba(0,0,0,.5);
  transform: translateX(-110%);
  transition: transform 0.3s;

  @media (min-width: 1114px) {
    background-color: transparent;
    top: 1.5rem;
    left: 20%;
    right: 30%;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    transition: none;
  }
}

body > [type="checkbox"]:checked ~ .navigation {
  transform: translateX(0);
}

body > [type="checkbox"]:checked ~ label {
  z-index: 2;
  opacity: 1;
}

body > label {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgba(0,0,0,.25);
}

body > [type="checkbox"]:checked ~ main {
  z-index: 1;
}

.navigation__menu {
  display: flex;
  flex-direction: column;
  

  @media (min-width: 1114px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation__menu__more-information {
  padding-block-end: 2rem;
  font-weight: 700;
  @media (min-width: 1114px) {
    padding-inline-end: 0;
  }
}

.navigation__menu__more-information__link {
  text-transform: $transfomation;
  color: $button-text-color;
  line-height: 1;

  @media (min-width: 1114px) {
    color: $text-color;
  }
}
