@font-face {
  font-family: "Open Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/open-sans-700.woff2") format(woff2), url("../fonts/open-sans-700.woff") format(woff); }

@font-face {
  font-family: "Open Sans Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/open-sans-400.woff2") format(woff2), url("../fonts/open-sans-400.woff") format(woff); }

@font-face {
  font-family: "Beba Neue Bold";
  font-weight: 400;
  font-style: normal;
  src: local("Beba Neue Bold"), local("Beba-Neue-Bold"), url("../fonts/beba-neue-400.woff2") format(woff2), url("../fonts/beba-neue-400.woff") format(woff); }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-weight: 400; }

h1 a > span {
  display: none; }

img {
  max-width: 100%; }

@media (min-width: 1114px) {
  .container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto; } }

body > header {
  color: #ffff;
  margin: 0;
  padding: 0;
  position: absolute; }

#lang_dropdown {
  color: #ffff;
  background-color: black;
  border: none; }

form > label {
  display: none; }

body > header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.heading {
  font-weight: 400;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif; }

.heading img {
  max-width: 32.96px; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.navigation__menu {
  order: 1;
  padding: 0;
  margin: 0; }

.survive {
  text-align: center;
  background-image: url("../images/sm-bg-header.jpg");
  background-size: cover;
  background-position: 40% 40%;
  background-repeat: no-repeat;
  padding-block-end: 5rem;
  padding-block-start: 228px; }

.survive__link {
  color: #ffff; }

.survive__heading {
  font-size: 33px;
  margin: 0; }

.survive__social-battle {
  margin: 0; }

.survive__shopping {
  margin: 0; }

.survive__shopping__card {
  padding: 6.7px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  color: #1A1917;
  background-color: #fcb527; }

.survive__shopping__card > span:nth-of-type(1) {
  border-right: 1px solid #1A1917;
  padding-inline-end: 5px; }

.survive__shopping__card > span {
  padding-inline-start: 2px; }

body > nav {
  padding: 1rem;
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }
